@import 'root';

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;


    main
    {
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding: 0.5%;
        display: inline-flex;
        justify-content: space-evenly;
        position: relative;
        top: -5px;
        background-color: darken($theme-color, 1);

        .side-bar
        {

            position: fixed;
            overflow: hidden;
            left: 0;
            top: 0;
            @extend .shadowed, .x-start, .y-start;
            z-index: 99;
            width: 19%;
            height: 100%;
            background-color: darken($primary-color, 25);
            box-sizing: border-box;
            padding: 7% 2%;

            h4
            {
                width: 90%;
                font-size: 10px;
                padding: 10px 15px;

                border-radius: 50px;
                text-align: center;
            }

            ul
            {
                padding: 1%;
                width: 100%;
                height: max-content;
                margin-top: 15%;

                li
                {

                    width: 100%;
                    height: 30px;
                    margin-bottom: 15px;
                    padding: 5px 0;
                    border-bottom: 1px solid darken($primary-color, 20);

                    a
                    {
                        width: 100%;
                        height: 100%;
                        display: inline-flex;
                        font-size: 11px;
                        color: $white;

                        i
                        {
                            @extend .flex-column;
                            height: 20px;
                            width: 20px;
                            padding: 5px;
                            border-radius: 50%;
                            font-size: 15px;
                            margin-top: -8px;
                            margin-right: 15px;

                            color: $primary-color;
                        }
                    }
                }
            }

        }

        .dashboard-area
        {
            position: relative;
            left: 10%;
            width: 83%;
            height: 100%;
            display: block;
            box-sizing: border-box;
            padding: 2%;
            @extend .y-start;


            .btn-left
            {
                padding: 10px 20px;
                position: relative;
                left: 42%;
                display: none;
            }

           & > div
            {
                width: 100%;
                height: 49%;
                margin: auto 0;
                @extend .x-start, .y-start;
                // @extend .shadowed;
                border-radius: 10px;

                h4
                {
                  box-sizing: border-box;
                  padding: 0% 2%;
                  width: 95%;
                  font-size: 14px;
                }


            }

            .overview
            {
                height: 90%;
                @extend .y-start;
                box-sizing: border-box;
                padding: 1%;

                // *{border: 1px solid orangered;}

                .cta
                {
                    border-radius: inherit;
                    width: 95%;
                    height: 30%;
                    @extend .grid-4;
                    grid-gap: 10px;
                    padding: inherit;

                    .cta-item
                    {
                        border-radius: inherit;
                        @extend .y-start, .shadowed;
                        box-sizing: border-box;
                        padding: 2%;
                        h3
                        {
                            font-size: 13px;
                            color: $black;
                        }

                        i
                        {
                            width: 40px;
                            height: 40px;
                            @extend .flex-column, .shadowed;
                            padding: 5px;
                            border-radius: 50%;
                            font-size: 20px;
                            color: $primary-color;

                        }

                        a
                        {
                            padding: 5px 20px
                        }

                    }
                }

                .grid-container
                {
                    width: 100%;
                    height: 60%;
                    box-sizing: border-box;
                    padding: 2%;
                    @extend .grid-4;
                    grid-gap: 15px;


                    .card
                    {

                        padding: 0;
                        height: 100%;
                        width: 100%;
                        @extend .grid-2, .shadowed;
                        margin-bottom: 10px;
                        border-radius: 10px;

                        &:hover
                        {
                            cursor: pointer;
                            transition: all 1s ease-in;
                            transform: scale(1.05);

                            background-color: darken($theme-color, 1.5);

                        }

                        div
                        {
                            @extend .x-start;
                            padding: 15px;
                            height: 65%;

                            margin: auto 0;
                            width: 60%;
                            position: relative;
                            left: 5%;

                            *
                            {
                                margin: 0;
                            }

                            h3
                            {
                                padding: 0;
                                margin: 0;
                                font-size: 17px;

                                color: $text-color;
                            }

                            span
                            {
                                margin-top: 10px;
                                font-size: 13px;
                            }

                        }

                        i
                        {
                            @extend .flex-column, .shadowed;
                            width: 40%;
                            position: relative;
                            left: 1%;
                            font-size: 20px;
                            margin: auto;
                            transition-property: all;
                            transform: rotate(-5deg);
                            color: darken($primary-color, 9);
                            padding: 15px;
                            border-radius: 50%;
                            height: 30px;
                            width: 30px;
                        }
                    }
                }

            }

            .edit-container
            {
                @extend .y-start, ,.shadowed;
                height: 85%;
                width: 80%;


                h4
                {
                    height: 5%;
                    width: 65%;
                }

                form
                {
                    @extend .flex-column;
                    height: 80%;
                    width: 95%;

                    input,select
                    {
                        width: 70%;
                        height: 40px;
                        margin-bottom: 15px;
                        border-radius: 10px;
                        box-sizing: border-box;
                        padding: 1%;
                        border:1px solid $primary-color;
                        background-color: transparent;
                        font-size: smaller;
                        &::placeholder
                        {
                            font-size: smaller;
                        }
                    }

                    button
                    {
                        width: 70%;
                        cursor: pointer;
                    }
                }
            }


            .products-container
            {

                // &, * {border: 1px solid orangered;}

                box-sizing: border-box;
                padding: 1%;
                height: 90%;
                display: inline-flex;
                flex-direction: row;
                justify-content: space-around;

                .products
                {
                    width: 60%;
                    height: 100%;
                    border-radius: inherit;
                    @extend .y-start;

                    .container
                    {
                        height: 85%;
                        width: 95%;
                        display: block;
                        overflow-y: auto;
                        box-sizing: border-box;
                        padding: 1%;


                        .product
                        {
                            height: 40px;
                            width: 95%;
                            margin: auto;
                            display: inline-flex;
                            justify-content: space-between;
                            padding: 5px;
                            border-radius: 5px;

                            &:nth-child(odd)
                            {
                                background-color: darken($theme-color, 3);
                            }

                            img
                            {
                                height: 40px;
                                width: 50px;
                            }

                            p
                            {
                                margin: 0;
                                font-size: 11px;
                                @extend .flex-column;
                                padding: 0 5px
                            }

                            a
                            {
                                @extend .flex-row;
                                justify-content: space-around;
                                font-size: smaller;
                                height: 100%;
                                width: 10%;
                                font-size: 10px;
                                text-transform: lowercase;

                                &:hover
                                {
                                    i
                                    {
                                        position: relative;
                                        left: 1px;
                                    }

                                }
                            }
                        }
                    }
                }

                .stats
                {
                    width: 35%;
                    height: 90%;
                    border-radius: inherit;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .card
                    {
                        height: 35%;
                        width: 75%;
                        margin: auto;
                        border-radius: inherit;
                        @extend .y-start, .shadowed;

                        box-sizing: border-box;
                        padding: 5%;

                        h3
                        {
                            font-size: 15px;
                            color: $black;
                            margin-bottom: 10px;
                        }

                        a
                        {
                            margin-bottom: 10px;
                        }

                        i
                        {
                            width: 40px;
                            height: 40px;
                            @extend .flex-column, .shadowed;
                            padding: 15px 8px;
                            border-radius: 50%;
                            font-size: 18px;
                            // background-color: darken($theme-color, 5);
                            color: $primary-color;

                        }

                        a
                        {
                            padding: 5px 20px
                        }




                    }
                }
            }

            .finance-overview
            {
                height: 45%;
                margin-bottom: 10px;
                @extend .shadowed;
            }

            .micro-banner
            {
                height: 5%;
                padding: 1% 0;
                width: 90%;
                margin-left: 3.5%;
                @extend .shadowed;
                display: inline-flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: darken($theme-color, 2);

                h4
                {
                    margin-top: 5px;
                    font-size: small;
                }

                a
                {
                    border-radius: 20px;
                    padding: 5px 15px;
                    margin: 0 10px;
                    display: inline-flex;
                    height: 20px;

                    i
                    {
                        margin-right: 2px;
                        font-size: 10px;
                    }
                }
            }

            .view-container
            {
                width: 100%;
                height: 80%;
                @extend .y-start;
                box-sizing: border-box;
                padding-top: 2%;


                .grid-container
                {
                    width: 95%;
                    height: 95%;
                    @extend .grid-3;
                    box-sizing: border-box;
                    padding: 2%;

                    *
                    {
                        border-radius: 10px;
                        height: 90%;
                        width: 100%;
                    }

                    img
                    {
                        width: 90%;
                        height: 90%;
                    }

                    .info
                    {
                        @extend .y-start, .x-start;
                        box-sizing: border-box;
                        padding: 2%;

                        *
                        {
                            height: max-content;
                            margin: 2px 0;
                            padding: 5px;
                            width: 95%;
                        }

                        small
                        {
                            font-size: small;
                        }

                        small:last-of-type
                        {
                            opacity: 0.7;
                            font-size: 11px;
                        }

                    }

                    .extra
                    {
                        box-sizing: border-box;
                        padding: 1%;
                        @extend .y-start;


                        *
                        {
                            height: max-content;
                        }

                        h5
                        {
                            width: 95%;
                            display: inline-flex;
                            box-sizing: border-box;
                            padding: 1%;
                            margin: 5px 0;

                            i
                            {
                                width: 10%;
                                margin-right: 1%;
                            }
                        }
                    }

                }

            }

            .advert-container
            {
                &, *
                {
                    // border: 1px solid orangered;
                }

                height: 80%;
                width: 95%;
                @extend .flex-column;

                .advert
                {
                    width: 70%;
                    height: 80%;
                    border-radius: inherit;
                    @extend .flex-column, .shadowed;
                    box-sizing: border-box;

                    .grid-container
                    {
                        width: 95%;
                        height: 95%;
                        @extend .grid-2;
                        box-sizing: border-box;
                        padding: 1%;

                        div
                        {
                            height: 100%;
                            width: 100%;
                            @extend .flex-column, .x-start;
                            box-sizing: border-box;
                            padding: 1%;

                            *
                            {
                                margin-bottom: 1px;
                                margin-top: 10px;
                                padding: 1px;
                            }

                            a
                            {
                                padding: 5px 20px;
                            }

                            img
                            {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 868px)
{

    body
    {
        overflow-x: hidden !important;

        .desktop-header
        {
            & > i
            {
                display: flex;

            }
        }

        .menu
        {
            position: fixed;
        }

        main
        {
            width: 100%;
            height: max-content;
            display: flex;
            flex-direction: column;

            .side-bar
            {
                position: fixed;
                padding-top: 18%;
                width: 70%;
                z-index: 98;
                backdrop-filter: blur(2px);
                animation: slideIn 1s ease-out forwards;
                display: none;
            }

            .dashboard-area
            {
                left: 0;
                width: 100%;
                height: max-content;

                .btn-left
                {
                    display: inline-block;
                    position: relative;
                    left: 2%;
                    margin-bottom: 10px;
                    padding: 5px 15px;
                }

                & > div
                {
                    height: max-content;

                    h4
                    {
                        text-align: center;
                        width: 100%;
                    }

                    & > div
                    {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }

                .overview
                {
                    height: max-content;
                    width: 100%;

                    .cta
                    {
                        height: max-content;
                        grid-template-columns: repeat(1, 1fr);

                        .cta-item
                        {
                            margin: 0 auto;
                            width: 80%;
                            padding: 20px;
                        }
                    }



                    .grid-container
                    {
                        grid-template-columns: repeat(1, 1fr);

                        .card
                        {
                            width: 80%;
                            margin: 0 auto;
                            height: 150px;
                        }
                    }
                }

                div
                {
                    overflow-x: hidden !important;
                }

                .edit-container
                {
                    width: 95%;
                    margin: 0 auto;
                    overflow-x: hidden;

                    form
                    {
                        width: 90%;
                        height: max-content;
                        padding-bottom: 30px;

                        input, select
                        {
                            width: 90%;
                            padding: 10px;
                        }
                    }
                }

                .products-container
                {
                    height: max-content;
                    width: 100%;
                    display: block;

                    .products
                    {
                        width: 100%;

                        .container
                        {
                            width: 100%;
                            min-height: 40vh;
                            max-height: max-content;

                            .product
                            {
                                width: 100%;
                                padding: 1% 2%;

                                p:nth-of-type(2), p:nth-of-type(4)
                                {
                                    display: none;
                                }

                                p
                                {
                                    font-size: 10px;
                                }

                                a
                                {
                                    font-size: 8px;
                                    margin-right: 10px;

                                    i
                                    {
                                        margin-right: 0px;
                                    }
                                }
                            }
                        }
                    }

                    .stats
                    {
                        width: 100%;
                        margin-top: 10%;
                        margin-bottom: 20px;
                        left: 0;

                        .card
                        {
                            margin-bottom: 20px;
                            width: 80%;
                        }
                    }
                }

                .advert-container
                {
                    width: 100%;
                    height: max-content;

                    .advert
                    {
                        width: 95%;
                        height: max-content;
                        padding: 10px 0;
                        margin: 10px 0;
                        .grid-container
                        {
                            width: 80%;
                            height: max-content;
                            display: inline-flex;
                            flex-wrap: wrap-reverse;

                            div
                            {
                                align-items: flex-start;

                                h4
                                {
                                    width: max-content;
                                }

                                *
                                {
                                    align-self: flex-start;
                                    left: 0;
                                }
                            }
                        }
                    }
                }

                .micro-banner
                {
                    width: 90%;
                    height: max-content;
                    padding-top: 10px;

                    h4
                    {
                        font-size: 12px;
                    }
                }

                .view-container
                {
                    height: max-content;

                    .grid-container
                    {
                        height: max-content;
                        grid-template-columns: repeat(1, 1fr);

                        div
                        {
                            height: max-content;
                            align-items: flex-start;



                            & > h4, & > div > h4
                            {
                                width: max-content;
                                align-self: flex-start;
                                text-align: start;
                            }
                        }
                    }
                }
            }

        }
    }
}